@import '../node_modules/bootstrap/scss/bootstrap';
@import "./font";

@import './components/header/navbar';
@import './components/header/bigimage';

@import './components/advantages/advantages';
@import './components/course-results/course-results';

*{
  font-family: 'Jost', sans-serif !important;
}


.header {
  height: auto;
  background: #141024;
}
.advantages {
  height: auto;
  background: #FFF;;
  padding: 120px 0;
}
.course-block {
  padding: 100px 0;
  background: #F9F9F9;
}
.course-results {
  background: #F9F9F9;
}